body {
  background-color: rgb(227, 26, 147);
  }
  
  h1 {
    color: rgb(178, 30, 92);
    text-align: center;
    text-decoration:underline; 
  }
  
  p {
    font-family: cursive;
    font-size: 20px;
    color: rgb(221, 85, 171);
    text-align: center;
  }

  form {
    background-color: rgb(209, 168, 183);
    padding: 25px;
    border: 1px solid #110c0c;
    border-radius: 25px;
    width: 400px;
    margin: 0 auto;

  }
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }




  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}

